header{
  padding: 8px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid var(--grey);
}

.icon{
  /*border: 1px solid red;*/
  height: 24px;
  width: 24px;
  padding: 12px;
  margin-left : 8px;
  border-radius: 50%;
  fill: var(--icon-fill);
}

.icon:hover{
  background-color: var(--icon-hover-bg);
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.logo span{
  font-size: 22px;
  /*color : var();*/
}

.logo img{
  height: 40px;
  width: auto;
}
